<app-topbar></app-topbar>
<div class="main feeds">
    <section class="newsfeed">
        <div class="card">
          <div class="picture"></div>
          <div class="content">
            <div class="header">
              <div class="profile-pic"></div>
              <div class="detail">
                <p class="name">Miranda</p>
                <p class="posted">2 hours ago</p>
              </div>
            </div>
            <div class="desc">
              "Actually, the best gift you could have given her was a lifetime or adventures" Alice in Wonderland- I've
              always loved this quote. what's your favourite quote?
            </div>
            <div class="tags">
              <span>#party</span>
              <span>#colorful</span>
            </div>
            <div class="footer">
              <div class="like">
                <i class="bi bi-heart-fill"></i>
                <span>12k</span>
              </div>
              <div class="comment">
                <i class="bi bi-chat-fill"></i>
                <span>12k</span>
              </div>
             
            </div>
          </div>
        </div>

    
        <div *ngFor="let val of post" class="card">
          <div class="picture" style="background-image: url('{{val.contentIMG}}');"></div>
          <div class="content">
            <div class="header">
              <div class="profile-pic"></div>
              <div class="detail">
                <p class="name">Miranda</p>
                <p class="posted">2 hours ago</p>
              </div>
            </div>
            <div class="desc">
              {{val.caption}}
              
            </div>
            <div class="tags">
              <span>#party</span>
              <span>#colorful</span>
            </div>
            <div class="footer">
              <div class="like">
                <i class="bi bi-heart-fill"></i>
                <span>12k</span>
              </div>
              <div class="comment">
                <i class="bi bi-chat-fill"></i>
                <span>12k</span>
              </div>
              
            </div>
          </div>
        </div>
    
        <div class="card">
          <div class="picture"></div>
          <div class="content">
            <div class="header">
              <div class="profile-pic"></div>
              <div class="detail">
                <p class="name">Miranda</p>
                <p class="posted">2 hours ago</p>
              </div>
            </div>
            <div class="desc">
              "Actually, the best gift you could have given her was a lifetime or adventures" Alice in Wonderland- I've
              always loved this quote. what's your favourite quote?
            </div>
            <div class="tags">
              <span>#party</span>
              <span>#colorful</span>
            </div>
            <div class="footer">
              <div class="like">
                <i class="fas fa-heart"></i>
                <span>12k</span>
              </div>
              <div class="comment">
                <i class="fas fa-comment"></i>
                <span>12k</span>
              </div>
              <div class="share">
                <i class="fas fa-share"></i>
                <span>12k</span>
              </div>
            </div>
          </div>
        </div>
    
      </section>
    
      
      <div class="space"></div>
    

</div>